bin
obj
tags
.vs
*.exe
*.dll
*.pdb
*.suo
*.pfx
*.psess
*.vsp
*;*
*~
Images
SchemeBuilder
Makefile
packages
#Experimental
.nuget
*.csproj.user
/.vscode
/omnisharp.json
/inc-revision.pl
